@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Shrikhand&display=swap');



body{
    margin: 0;
    margin: auto;
    max-width: 950px;
    min-width: 500px;
    background-image: url('../imagens/fundodapagina.jpg');
    
}
header{
    background-color: #8364D9;
    margin: auto;
    height: 340px;
}

h1{
    font-size: 45pt;
    color: white;
    font-family: 'Shrikhand', cursive;
    margin-bottom: 2px;
}


header > p >  a{
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-left: 30px;
    padding: 5px;
    transition-duration: 0.5s;
    border-radius: 10px
}

span > a{
    margin: 5px ;

}
span{
    margin-left: 50px;
}

p{
    font-size: 15pt;
    margin-top: 0;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding-top: 10px;
}

div#delado{
    display: flex;
    margin: auto;    
}

#petland{
    margin-left: 50px;
    height: 50px 60px;
}
header > p > a:hover{
    color: rgb(217, 237, 255);
    background-color: #ac98e2;
}

#pets{
    margin: auto;
}

.responsive{
    width: 100%;
}

.titulo{
    color: #8364D9;
}

.texto{
    color: black;
    text-align: justify;
}

.adocao{
    width: 200px;
    height: 200px;
    margin-right: 20px;
    border-radius: 10px;
}

h2.titulo{
    text-align: center;
    font-family: 'Shrikhand', cursive;
    font-size: 37pt;
    margin:0px;
    margin-top: -45px;
}

.eai{
    margin: auto;
}

#explica{
    width: 500px;
    margin: auto;
}
p#pequeno{
    font-size: 12pt;
    text-align: center;
    margin-bottom: 20px;
    padding: 0px;
}


.nome{
    font-family: 'Shrikhand', cursive;
    font-size: 27pt;
    margin:0px;
    color: #8364D9;
    text-align: center;

}

.imagem{
    border-radius: 20px;

    width: 300px;
    height: 300px;
    margin-bottom: 1px;
    margin-left: 0px;
}

.cadimagem{
    margin-top: 20px;
    background-color: white;
    width: 300px;
    border-radius: 20px 20px 0px 0px;
}

main{
    display: flex;
}

main > div >  h2.titulo {
    text-align: center;
}

p.texto{
    margin-left: 10px;
    font-size: 1.15em;
}

table{
    background-color: #9382c07e;
    margin-left: 500px;
    width: 200px;
    height: 100px;
    padding-left: 40px;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    border-radius: 20px;
}


article > div{
    width: 100px;
    margin: auto;
    background-color: blue;
    border-radius: 20px;
    border: 1px solid black;
    font-weight: bold;
}

article  p{
    color: black;
    margin-bottom: 100px;
    
}

#cuidados{
    text-align: center;
    color: #8364D9;
    font-size: 3em;
}

footer{
    text-align: center;
    background-color: rgb(204, 204, 204); 
    
    bottom: 0;
    width: 100%;
    max-width: 950px;
    min-width: 500px;
    height: 80px;
    display: flex;
    justify-content: space-around;
}

#separa{
    width: 3px;
    background-color: rgba(138, 138, 138, 0.856);
    height: 100%;

    border-radius: 10px;
}

div#rede{
    display: flex;
}
span{
    margin: 0;
    margin-top: 8px;
    margin-left: 4px;
}

footer a{
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
footer div{
    margin: auto;
}

footer p{
    color: black;
    text-align: center;
    margin: 0px;
}